#searchInput {
  border: none;
  border-bottom: 2px solid #ccc;
  border-radius: 0;
  background-color: transparent;
  padding: 15px 5px;
  font-size: 1.2rem;
  transition: border-color 0.3s ease;
}

#searchInput:focus {
  box-shadow: none;
  border-color: #dda853;
}
.reservationbtn {
  cursor: pointer !important;
  background-color: #dda853 !important;
  border: none;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.reservationbtn:hover {
  background-color: #dda853 !important;
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
  transform: translateY(-2px);
}
.coursebtn {
  cursor: pointer !important;
  color: black;
  background-color: #dcdbdb !important;
  border: none;
  transform: translateY(0);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.coursebtn:hover {
  background-color: #dcdbdb !important;
  color: black;
  box-shadow: rgba(99, 99, 99, 0.6) 0px 2px 8px 0px;
  transform: translateY(-2px);
}

.professor-card-wrapper {
  transition: opacity 0.6s ease-in-out;
  cursor: pointer;
}

.professor-card {
  border-radius: 20px;
  border: none;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  text-align: center;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
  background-color: #fff;
}

.professor-card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.12);
}

.card-header-color {
  height: 100px;
  border-radius: 20px 20px 0 0;
  position: relative;
  transition: all 0.5s ease;
}
.col-12{
  margin: auto;
  width: 97%;
}

.modal-dialog-wide {
  max-width: 1100px !important;   
  width: 100%;          
  margin: 1.75rem auto; 
}
.profile-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: contain;
  border: 5px solid #fff;
  position: absolute;
  background: #fff;
  bottom: -55px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.5s cubic-bezier(0.65, 0, 0.35, 1);
}

.card-body {
  padding: 75px 1rem 1rem 1rem;
  transition: all 0.5s ease;
  position: relative;
  z-index: 1;
}

.professor-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background: linear-gradient(
    to bottom,
    #c0c0c0 5%,
    rgba(192, 192, 192, 0) 65%
  );
  -webkit-mask-image: radial-gradient(circle, black 1px, transparent 2px);
  -webkit-mask-size: 15px 15px;
  mask-size: 30px 30px;
}

.expanded-social-links,
.expanded-content-wrapper,
.contact-details {
  display: none;
}

.is-open .expanded-social-links {
  display: block;
  text-align: center;
  background: #ffffff99;
}
.is-open .expanded-social-links a {
  display: inline-block;
  color: #6c757d;
  font-size: 1.5rem;
  margin: 0 0.5rem;
  transition: all 0.3s ease-in-out;
}
.is-open .expanded-social-links a:hover {
  color: #dda853;
  transform: scale(1.1);
}

.card-title {
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.5s ease;
}
.text-muted,
.specialty-tag,
.office-location,
.social-links {
  transition: all 0.5s ease;
}
.modal-actions {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.is-open .professor-card {
  display: grid;
  grid-template-columns: 320px 1fr 1fr;
  grid-template-rows: 1fr;
  text-align: right;
  border-radius: 20px;
  background-color: #fff;
}

.is-open .professor-card-wrapper{
  width: 100% !important;
}

.is-open .professor-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  pointer-events: none;
  background: linear-gradient(to left, #dcdbdb 5%, rgba(192, 192, 192, 0) 65%);
  -webkit-mask-image: radial-gradient(circle, black 1px, transparent 2px);
  -webkit-mask-size: 15px 15px;
  mask-size: 30px 30px;
}

.is-open .card-header-color {
  grid-column: 1 / 2;
  background-color: transparent;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 1.5rem 0.5rem;
  border-radius: 20px 0 0 20px;
}

.is-open .profile-img {
  position: relative;
  bottom: auto;
  left: auto;
  transform: none;
  margin-bottom: 1rem;
  width: 150px;
  height: 150px;
}

.card-body .social-links {
  margin-top: 1rem;
}
.card-body .social-links a {
  display: inline-block;
  color: #6c757d;
  font-size: 1.3rem;
  margin: 0 0.4rem;
  transition: all 0.3s ease;
}
.card-body .social-links a:hover {
  color: #dda853;
  transform: scale(1.1);
}
.is-open .contact-details {
  display: block;
  margin-top: 0.5rem;
  width: 100%;
  background-color: #ffffff99;
  border-radius: 10px;
  padding: 1rem;
  margin-left: 1.5rem;
}

.is-open .contact-details ul {
  margin-bottom: 0;
  text-align: right;
}

.is-open .contact-details li {
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  color: #333;
  margin-bottom: 0.75rem;
  user-select: text;
}

.is-open .contact-details li:last-child {
  margin-bottom: 0;
}

.is-open .contact-details li i {
  color: #555;
  margin-left: 0.75rem;
  margin-top: 4px;
}

.is-open .card-body {
  display: none;
}

.is-open .expanded-content-wrapper {
  grid-column: 2 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 2rem;
  padding-right: 5px;
  border-radius: 0 20px 20px 0;
  display: grid;
  user-select: text;
  -webkit-user-select: text;
}

.is-open .info-section,
.is-open .courses-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
}

.is-open .expanded-content-wrapper .card-title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.is-open .info-section .text-muted {
  font-size: 1.1rem;
  color: #555 !important;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.is-open .biography {
  font-size: 0.95rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 1rem;
}

.is-open .section-title {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #333;
  margin-top: 55px;
}
.is-open .courses-section ul {
  padding-right: 0.5rem;
  margin-bottom: auto;
  column-width: 190px;
  column-gap: 1.5rem;
}
.is-open .courses-section li {
  margin-bottom: 0.5rem;
  color: #555;
  font-size: 0.95rem;
}

.is-open .action-btn-wrapper {
  margin-top: auto;
  padding-top: 1rem;
  z-index: 2;
}
.is-open .action-btn-wrapper .btn {
  width: 100%;
  font-size: 1rem;
  padding: 0.75rem 1rem;
}

.close-btn {
  position: absolute;
  top: 3px;
  left: 20px;
  font-size: 2.3rem;
  color: #888;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  z-index: 10;
}

.close-btn:hover {
  transform: scale(1.2);
  color: #333;
}

.is-open .close-btn {
  opacity: 1;
  visibility: visible;
}

@keyframes staggeredFadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.is-open .profile-img,
.is-open .expanded-social-links,
.is-open .contact-details,
.is-open .info-section,
.is-open .courses-section {
  opacity: 0;
  animation-name: staggeredFadeInUp;
  animation-duration: 1.5s;
  animation-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  animation-fill-mode: forwards;
}

.is-open .profile-img {
  animation-delay: 0.35s;
}
.is-open .close-btn {
  animation-delay: 0.35s;
}

.is-open .expanded-social-links,
.is-open .contact-details {
  animation-delay: 0.35s;
}

.is-open .info-section {
  animation-delay: 0.5s;
}

.is-open .courses-section {
  animation-delay: 0.65s;
}

.fading-out{
  opacity: 0;
  display: none;
  pointer-events: none;
}

.Professor-option {
    background-color: #fff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    transition: all 0.6s ease;
}

.tab.active .Professor-option {
    border-color: #dda853 !important; 
    transform: translateY(-2px); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}


.tab:not(.active) .Professor-option:hover {
    background-color: #f8f9fa; 
    transform: translateY(-2px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.modal-header .btn-close {
  position: absolute;
  left: 15px;
}

.modal-header-content {
  position: absolute;
  right: 25px;
}

.modal-header-content i {
  margin-left: 0 !important;
  padding-top: 5px !important;
}
.modal-footer {
  border-top: #dda853 1px solid !important;
  padding: 5px;
}
.modal-header {
  position: relative;
  background: linear-gradient(
    75deg,
    rgba(221, 168, 83, 1) 38%,
    rgb(233, 214, 181) 95%
  );
  height: 55px;
}
.faculty-category {
    margin-top: 1rem;
    --bs-gutter-y: 0;
}

.category-title {
    font-size: 1.8rem;
    font-weight: 700;
    color: #343a40;
    margin-bottom: 1.5rem;
    padding-right: 1rem;
    border-right: 3px solid #dda853;
}

.horizontal-scroll-wrapper {
    display: flex;
    overflow-x: clip;
    overflow-y: hidden;
    padding-bottom: 1.5rem; 
    -webkit-overflow-scrolling: touch; 
}

.horizontal-scroll-wrapper::-webkit-scrollbar {
    height: 8px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
}
.horizontal-scroll-wrapper::-webkit-scrollbar-thumb:hover {
    background: #aaa;
}

.horizontal-scroll-wrapper .professor-card-wrapper:not(.is-open) {
    flex: 0 0 280px;
    margin-left: 1.5rem;
    width: 280px;
}
.horizontal-scroll-wrapper .professor-card-wrapper:first-child {
    margin-right: 5px;
}

.horizontal-scroll-wrapper.active-drag {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}
.horizontal-scroll-wrapper.active-drag .professor-card {
    user-select: none;
    pointer-events: none;
}
.fading-out-category{
  margin-bottom: 0;
}
body.is-dragging{
  user-select: none;
  -webkit-user-select: none !important;
}
.modal.fade .modal-dialog{
  transition: max-width .4s ease-in-out;
}
.mds-dtp, .mds-dtp-root, .mds-dtp-popover, .mds-dtp-dropdown {
  z-index: 20000 !important;
  display: block !important; 
}
