@font-face {
  font-family: Vazirmatn;
  src: url(../Fonts/Vazirmatn-Medium.ttf);
}
body {
  font-family: Vazirmatn;
  font-size: .8em;
  direction: rtl;
}
.text-warning22 {
  color: #dda853 !important;
}

.top-nav {
  background-color: #dcdbdb;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.navbar-scrolled {
}
.brand {
  text-shadow: 6px 4px 8px rgba(65, 63, 63, 0.39);
}
.sidebar {
  height: 100vh;
  /* border-left: 1px solid rgb(221, 219, 219); */
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.current a {
  background-color: #dda853;
  border-radius: 25px;
  /* color: rgb(68, 129, 183); */
  transition: all 0.5s;
}
current a:hover {
  background-color: #fce7c8;
  border-radius: 25px;
  color: #243642;

  /* color:  #243642 ; */
}
.linksidebar .nav-link {
  display: block;
  text-align: right;
  transition: all 0.5s ease-in-out;
  position: relative;
  left: 0;
}
.linksidebar:hover .nav-link {
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.botomborder {
  font-size: 70px;
  margin-bottom: 10px;
  margin-top: 5px;
}
.botoomborder i {
  box-shadow: 2px 2px 13px 2px black;
}
.options {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
  border-radius: 25px;
  margin: 0px auto;
  padding: 10px;
}
.quit {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.topnavExitButton{
  list-style: none;
}
.topnavExitButton:focus{
  background-color: red;
  color: #fff !important;
}
.cadr {
  display: inline-block;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.card-common {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  height: 80px;
}
@media (max-width: 768px) {
  .sidebar {
    position: static !important;
    height: auto;
  }
}

/* table */
.table-status {
  background: #fce7c8 !important;
}
/* end of table */
.topnav-profile {
  color: #212529bf;
  transition: all 0.7s;
  cursor: pointer;
}
tbody tr td {
  color: #889e73 !important;
}
.table-warning {
  --bs-table-bg: #e7b361;
  --bs-table-striped-bg: #e7c588; /* Optional: for striped tables */
  --bs-table-hover-bg: #cdb07b; /* Optional: for hover effect */
  background-color: var(--bs-table-bg) !important;
}
.rounded-table {
  border-collapse: separate; /* Important: allows border-radius */
  border-spacing: 0;
  border-radius: 8px; /* Change this value as needed */
  overflow: hidden; /* Ensures child elements are clipped */
}
.accordion-button:not(.collapsed) {
  background-color: #dda853;
  color: #fff; /* White text for contrast – adjust if needed */
  box-shadow: none;
}
.accordion-button:focus {
  box-shadow: none;
  border-color: #dda853;
}
/* plans */
.popular-title {
  background-color: rgb(250, 138, 10);
}
.fa-fire {
  /* background-c olor: gold; */
  color: rgb(250, 138, 10);
}

/* .plan-1 , .plan-3{
  background: linear-gradient(rgba(87, 101, 73, 0.4) , rgba(249, 238, 207, 0.4) ); 
} */
.plan-1,
.plan-3 {
  background: linear-gradient(rgb(214, 242, 254), rgba(255, 255, 255, 0.1));
}
.plan-3 {
  background: linear-gradient(rgba(194, 205, 230), rgba(255, 255, 255, 0.1));
}
.plan-2 {
  margin-top: -40px;
  background: linear-gradient(
    rgba(245, 188, 88, 0.8),
    rgba(249, 238, 207, 0.4)
  );
}
.spoiler {
  filter: blur(3px);
  transition: all 0.3s;
}

.spoiler:hover {
  filter: blur(0px);
}
.modal {
  z-index: 1055 !important;
}

.modal-backdrop {
  z-index: 1050 !important;
}

.custom-dropdown{
  width: 300px;
  
}
.planActiovationButton{
  background-color: #4C5760;
  color: #fff;
  border: none;
  transition: all .3s ease-in-out;
}
.planActiovationButton:hover{
  background-color: #373b3f;
  transform: translateY(2px);
  

}
/* days  */

.days{
  width: 130px;
  height: 130px;
  background-color: #dda853  ;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
  border: none;
  transition: all .3s ease-out;

  
}

.days:hover{
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
  background-color:#f6d49d ;

}
.days:focus{
  transform: translateY(-15px);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
  background-color:#f6d49d ;

}
.card-color{
  background-color: #b2c7b1;
}

@media (max-width: 470px) {
  .sidebar {
    box-shadow: none;
  }
  .days{
    width: 70px;
    height: 70px;
  }
  .linksidebar .nav-link {
    justify-content: center !important;
  }
  .days:hover{
  transform: translateX(-15px);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
  background-color:#f6d49d ;

}
  .days:focus{
  transform: translateX(-15px);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
  background-color:#f6d49d ;

}
}

