@font-face {
    font-family: Vazirmatn;
    src: url(../Fonts/Vazirmatn-Medium.ttf);
}

body {
    font-family: Vazirmatn;
    font-size: 0.8em;
    direction: rtl;
}

.text-warning22 {
    color: #dda853 !important;
}

#userCredit {
    font-size: 10px;
    position: relative;
    bottom: 5px;
}

.top-nav {
    background-color: #dcdbdb;
    box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}

.navbar-scrolled {
}

.brand {
    text-shadow: 6px 4px 8px rgba(65, 63, 63, 0.39);
}

.sidebar {
    height: 100vh;
    /* border-left: 1px solid rgb(221, 219, 219); */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.current a {
    background-color: #dda853;
    border-radius: 25px;
    /* color: rgb(68, 129, 183); */
    transition: all 0.5s;
}

    .current a:hover {
        background-color: #fce7c8;
        border-radius: 25px;
        color: #243642;
    }

.linksidebar .nav-link {
    display: block;
    text-align: right;
    transition: all 0.5s ease-in-out;
    position: relative;
    left: 0;
}

.botomborder {
    font-size: 70px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.botoomborder i {
    box-shadow: 2px 2px 13px 2px black;
}

.options {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1));
    border-radius: 25px;
    margin: 0px auto;
    padding: 10px;
}

.quit {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.topnavExitButton {
    list-style: none;
}

    .topnavExitButton:focus {
        background-color: red;
        color: #fff !important;
    }

.cadr {
    display: inline-block;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.card-common {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    height: 80px;
}

@media (max-width: 768px) {
    .sidebar {
        position: static !important;
        height: auto;
    }
}

/* table */
.table-status {
    background: #fce7c8 !important;
}
/* end of table */
.topnav-profile {
    color: #212529bf;
    transition: all 0.7s;
    cursor: pointer;
}

.profile-icon:focus,
.profile-icon:active {
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
}

.profile-icon i {
    transition: all 0.4s ease-out;
    font-size: 1.1em;
}

.profile-icon:hover i {
    color: #212121 !important;
}

tbody tr td {
    color: #889e73 !important;
}

.table-warning {
    --bs-table-bg: #e7b361;
    --bs-table-striped-bg: #e7c588; /* Optional: for striped tables */
    --bs-table-hover-bg: #cdb07b; /* Optional: for hover effect */
    background-color: var(--bs-table-bg) !important;
}

.rounded-table {
    border-collapse: separate; /* Important: allows border-radius */
    border-spacing: 0;
    border-radius: 8px; /* Change this value as needed */
    overflow: hidden; /* Ensures child elements are clipped */
}

.accordion-button:not(.collapsed) {
    background-color: #dda853;
    color: #fff; /* White text for contrast – adjust if needed */
    box-shadow: none;
}

.accordion-button:focus {
    box-shadow: none;
    border-color: #dda853;
}
/* plans */
.popular-title {
    background-color: rgb(250, 138, 10);
}

.fa-fire {
    /* background-c olor: gold; */
    color: rgb(250, 138, 10) !important;
    margin-bottom: 25px;
}

.fa-gift {
    color: brown !important;
}

.fa-medal {
    color: rgb(102, 102, 112) !important;
}

.plan-1,
.plan-2,
.plan-3 {
    height: 75vh !important;
    margin-top: 100px !important;
}

.plan-1,
.plan-3 {
    background: linear-gradient(rgb(196, 231, 247), rgba(150, 191, 199, 0.1));
}

.plan-3 {
    background: linear-gradient(rgba(194, 205, 230), rgba(161, 201, 247, 0.1));
}

    .plan-3 h2 {
        padding: 0px 30px 60px 30px;
    }

.plan-2 {
    margin-top: -10px !important;
    background: linear-gradient( rgba(245, 188, 88, 0.8), rgba(249, 238, 207, 0.4) );
}

.spoiler {
    filter: blur(3px);
    transition: all 0.3s;
}

    .spoiler:hover {
        filter: blur(0px);
    }

.modal {
    z-index: 1055 !important;
}

.modal-backdrop {
    z-index: 1050 !important;
}

.custom-dropdown {
    width: 250px;
}

.planActiovationButton {
    background-color: #4c5760;
    color: #fff;
    border: none;
    transition: all 0.3s ease-in-out;
}

    .planActiovationButton:hover {
        background-color: #373b3f;
        transform: translateY(2px);
    }
/* days  */

.days {
    width: 130px;
    height: 130px;
    background-color: #dda853;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 8px;
    border: none;
    transition: all 0.3s ease-out;
    outline: none;
}

    .days:hover {
        transform: translateY(-15px);
        box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
        background-color: #f6d49d;
    }

    .days:focus {
        transform: translateY(-15px);
        box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
        background-color: #f6d49d;
    }

    .days.active-day {
        transform: translateY(-15px);
        box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
        background-color: #f6d49d;
    }

.card-color {
    background-color: #b2c7b1;
}

@media (max-width: 572px) {
    .sidebar {
        box-shadow: none;
    }

    .days {
        width: 70px;
        height: 70px;
    }

    .linksidebar .nav-link {
        justify-content: center !important;
    }

    .days:hover {
        transform: translateX(-15px);
        box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
        background-color: #f6d49d;
    }

    .days:focus {
        transform: translateX(-15px);
        box-shadow: rgba(0, 0, 0, 0.8) 0px 6px 5px;
        background-color: #f6d49d;
    }

    .daysButtonsContainer {
        width: 25%;
    }

    .day-cards {
        width: 75%;
    }

    .plan-3 {
        margin-top: 10px !important;
    }
}

@media (max-width: 1200px) {
    .days {
        width: 80px;
        height: 80px;
    }
}

@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.chat-toggle {
    position: fixed;
    bottom: 30px;
    left: 30px;
    background-color: #dda853;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1054;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 24px;
    animation: fadeInScale 0.4s ease-in-out;
}

.p-4 {
    padding: 2rem !important;
}

.support-panel {
    position: fixed;
    top: 40px;
    bottom: 40px;
    left: 20px;
    width: 100%;
    max-width: 380px;
    background-color: #fff;
    border-radius: 16px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.2);
    transform: translateX(-120%);
    transition: transform 0.5s ease, opacity 0.3s ease;
    opacity: 0;
    z-index: 1055;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.support-content {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 1rem;
    scroll-behavior: smooth;
}

.support-panel.open {
    transform: translateX(0);
    opacity: 1;
}

.support-header {
    background: linear-gradient( 75deg, rgba(221, 168, 83, 1) 38%, rgb(233, 214, 181) 95% );
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
}

.accordion-button::after {
    position: absolute;
    left: var(--after-left, -0.5rem);
    right: auto;
    top: 50%;
    margin-left: 0 !important;
    transform: rotate(0deg);
    margin: 0;
    max-width: 18px;
}

.accordion-button.scrolled::after {
    left: -1.2rem;
}

.accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: black;
}

.accordion-button {
    position: relative;
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible !important;
    display: block !important;
    width: 100% !important;
    text-align: right;
    padding-left: 2rem;
    overflow: hidden;
}

.accordion-content {
    border-bottom: 1px solid rgba(111, 129, 148, 0.16);
    width: 90%;
    margin: 0 auto;
}

.support-header span {
    position: absolute;
    right: 25px;
}

.support-header div {
    position: absolute;
    left: 25px;
}

.vertical-divider {
    align-self: stretch;
    border-left: 1px solid rgba(111, 129, 148, 0.16);
    height: auto;
    width: 1px;
}

.accordion-body {
    white-space: normal !important;
    word-wrap: break-word;
    word-break: break-word;
    overflow: visible !important;
    display: block !important;
    width: 100% !important;
    text-align: right;
    padding-left: 2rem;
    overflow: hidden;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    10% {
        transform: translate(-2px, 0);
    }

    20% {
        transform: translate(2px, 0);
    }

    30% {
        transform: translate(-2px, 0);
    }

    40% {
        transform: translate(2px, 0);
    }

    50% {
        transform: translate(-1px, 0);
    }

    60% {
        transform: translate(1px, 0);
    }

    70% {
        transform: translate(-1px, 0);
    }

    80% {
        transform: translate(1px, 0);
    }

    90% {
        transform: translate(-1px, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

.icon-shake {
    display: inline-block;
    animation: shake 1.5s infinite;
}
