@font-face {
  font-family: BYekan;
  src: url(../Fonts/Yekan.ttf),url(../Fonts/Yekan.woff),url(../Fonts/Yekan.woff2),url(../Fonts/Yekan.svg),url(../Fonts/Yekan.eot),url(../Fonts/yekan.css);
}
* {
    font-family: BYekan;
}
:root {
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border-color: rgba(255, 255, 255, 0.18);
  --glass-border-darker: rgba(0,0,0,0.1);
  --text-primary: #f5f5f5;
  --text-secondary: rgba(245, 245, 245, 0.75);
  --blur-value: 12px;
}
body {
  direction: rtl;
  text-align: right;
  font-family: BYekan;
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.7 )),
    url(../Images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}


.login-panel {
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid var(--glass-border-color);
  border-radius: 100px !important;
  z-index: 2;  
  box-shadow: -1px 0px 4px #273340;
  width: 350px ;
  height: 600px;
}
.title {
  color: #243642;
  font-weight: bolder;
}
.enter {
  background-color: #DDA853;
  color: #243642;
  transition: all 0.3s;
  font-size: large;
  font-weight: bold;
  width: 100% ;
  height: 40px ;
  transition: all 0.5s;
}
.enter:hover {
  transform: translateY(-4px);
}
.input {
  background: transparent;
  background-color: #ffffff30 !important;
  border: none;
  border-color: transparent;
  border-radius: 5px;
  color: #243642;
  border-bottom: 2px solid #243642;
  transition: font-weight 0.3s;
}
.input::placeholder {
  font-size: 1em;
  color: #0d0d0d;
}
.input:focus {
  background: transparent;
  border: none;
  border-color: transparent;
  box-shadow: none;
  background-color: #ffffff30 !important;
  border-bottom: 2px solid #0a0a0a;
  outline: none;
}
.input:active{
  background-image: none;
  background-color: #ffffff30 !important;
}
.input:-webkit-autofill{
  background-image: none;
  background-color: transparent !important;

}
.label {
  color: #080808;
  display: block;
  font-size: 16px;
  font-weight: 300;
  margin-top: -74px;
  margin-right: 7px;
  transition: all 0.4s;
}
.input:placeholder-shown + .label {
  transform: translate(20px, 20px);
  opacity: 0;
  visibility: hidden;
  font-weight: bold;
}
input:-webkit-autofill {
  background-color: transparent !important; 
  color: #243642 !important;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff30 inset !important; 
}
input:-webkit-autofill::first-line {
  color: #243642 !important; 
}
#signUpEyeIcon{
  position: relative;
  top: 9px;
}

.checked {
  color: #243642;
  font-size: 0.9em;
}
.checked a {
  /* text-decoration: none; */
  color: #363636;
  font-weight: bold;
  transition: all 0.4s;
}
.checked a:hover {
  transform: translateY(-2px);
}

.forgot,
.sign-in {
  color: #243642;
  text-decoration: none;
  font-size: 1.2em;
  padding-bottom: 10px;
  margin-right: 10px;
  font-weight: bold;
  transition: all 0.5s;
}
.forgot:hover,
.sign-in:hover {
  color: #2a2c2e;
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bold;
  transform: translateY(-5px);
}
.return-paragraph {
  color: #212121;
  font-size: 0.9em;
}
.return-login {
  color: #212121;
  font-weight: bold;
  text-decoration: none;
  transform: translateY(0px);
  transition: all 0.4s;
}
.return-login:hover {
  color: #0a0a0a;
  transform: translateX(-2px);
}

.hidden {
  display: none;
}
.fade-in {
  animation: fadeIn 0.5s forwards;
}

.fade-out {
  animation: fadeOut 0.5s forwards;
}
/* Validation's style */

.loginServerValidation{
  position: relative;
  top: 25px;
  font-size: 13px ;
  font-weight: 700;
}
.signUpServerValidation{
  position: relative;
  font-size: 13px ;
  font-weight: 700;
}
/* End of Validation's style */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.content{
  margin-right:-150px
}
      
.carrousel {
  width: 500px !important;
  height: 510px !important;
  border:18px solid transparent;  
  border-radius: 10px !important;
  box-shadow: -1px 0px 4px #584a35;
  background-image: linear-gradient(#FCE7C8  ),
  linear-gradient(-90deg , #00000030 , #FCE7C880  30%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.indicator{
  padding-right:120px;

}
.carousel-indicators [data-bs-target] {
  background-color: #0a0a0a;
}
.carousel-indicators .active{
  background-color: #DDA853 ;
}

.slide1{
  background-color: transparent !important ;
}
.slide1 img{
  width: fit-content !important;
  height: fit-content !important;
}
.slide2 {
  background-color: #FCE7C8 !important;
  width: 100%;
  height: 100%;
  padding-right: 120px;
  
}
.slide3 {
  padding-right: 120px;
  background-color: #FCE7C8 !important;
  width: 100%;
  height: 100%;
  line-height: 20px;
  
}
.support{
  text-decoration: none;
  color:#243642 ;
  font-weight: bold;
  transition: all .5s;
  
}
.support:hover{
  display: inline-block;
  color:#385468 ;
  transform: translateX(-2px);
}
.support-user-icon{
  color:#243642 ;
} 
.support-user-title {
  color: #243642 !important; 
  font-size: 16px;
  font-weight: bold;
} 
.password-input{
  position: relative;
}
.showpassword{
  position: absolute !important;
  left: 5px !important;
  bottom: -3px !important;
  color: #0a0a0a;
  transition: transform .3s ease-in-out;
}
.showpassword:focus {
  outline: none;
  box-shadow: none;
}
.showpassword:hover{
  transform: scale(1.1);
}
.btn{
  --bs-btn-padding-y: 0;
  border: none;
}
.btn:hover{
  background-color: transparent;
  color: black;
  border: none;
}
.btn:first-child:active{
  color: black;
  border: none;
}
.g-recaptcha{
  transform-origin: center;
  transform: translateX(20px)  scale(.9);
  filter: brightness(1); 
}
.form{
  width: 250px;
}
.accordion {
  border: none;
  border-radius: 10px;
  overflow: hidden;
  background: transparent !important;
}
.accordion-item {
  max-height: 120px;
  background: transparent !important;
  display: flex;
  justify-content: space-between;
  border: none;
  box-shadow: none;
  transition: transform 0.5s ease;
  margin-top: 5px;
}
.accordion-item:hover {
  transform: translateX(3px)
}
.accordion-header button {
  background: transparent !important;
  color: #243642 !important; 
  text-align: center;
  width: 100px;
  border: none;
  border-radius: 5px;
  padding: 10px 7px;
  outline: none !important; 
  box-shadow: none !important;
}
.accordion-header button:focus,
.accordion-header button:active {
  outline: none !important;
  box-shadow: none !important; 
}
.accordion-header button i{
  transition: all .3s ease-in-out;
}
.accordion-header button:not(.collapsed) i  {
  color: #416278 !important ;
  font-size: 1.5em;
}
.accordion-collapse {
  flex: 1 1 auto;
  width: 0;
  overflow: hidden;
  transition: width 0.4s ease-in-out, opacity 0.4s ease-in-out;
  opacity: 0;
}
.accordion-collapse.show {
  width: 100%;
  opacity: 1;
}
.accordion-body {
  font-size: 0.8rem;
  color: #333;
  line-height: 1.6;
}
@media (min-width: 960px) {
  .custom-margin {
      margin-right: -160px; 
  }
}

.loader {
  position: relative;
  top: 8px;
  right: 94px;
  width: 40px;
  height: 20px;
  --c:no-repeat radial-gradient(farthest-side,#243642 93%,#243642);
  background:
    var(--c) 0    0,
    var(--c) 50%  0,
    var(--c) 100% 0;
  background-size: 8px 8px;
  position: relative;
  animation: l4-0 1s linear infinite alternate;
}
.loader:before {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  background: #243642;
  left: 0;
  top: 0;
  animation: 
    l4-1 1s  linear infinite alternate,
    l4-2 0.5s cubic-bezier(0,200,.8,200) infinite;
}
@keyframes l4-0 {
  0%      {background-position: 0  100%,50% 0   ,100% 0}
  8%,42%  {background-position: 0  0   ,50% 0   ,100% 0}
  50%     {background-position: 0  0   ,50% 100%,100% 0}
  58%,92% {background-position: 0  0   ,50% 0   ,100% 0}
  100%    {background-position: 0  0   ,50% 0   ,100% 100%}
}
@keyframes l4-1 {
  100% {left:calc(100% - 8px)}
}
@keyframes l4-2 {
  100% {top:-0.1px}
}
.slide2, .slide3 {
  background: rgba(255, 255, 255, 0.08) !important;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  padding-right: 120px;
}
.slide3 {
    line-height: 20px;
}