@font-face {
  font-family: BYekan;
  src: url(../Fonts/Yekan.ttf),url(../Fonts/Yekan.woff),url(../Fonts/Yekan.woff2),url(../Fonts/Yekan.svg),url(../Fonts/Yekan.eot),url(../Fonts/yekan.css);
}
* {
  font-family: Byekan;
}
:root {
  --glass-background: rgba(255, 255, 255, 0.1);
  --glass-border-color: rgba(255, 255, 255, 0.18);
  --glass-border-darker: rgba(0,0,0,0.1);
  --text-primary: #f5f5f5;
  --text-secondary: rgba(245, 245, 245, 0.75);
  --blur-value: 12px;
}
body{
  background: linear-gradient(rgba(0,0,0,.5) , rgba(0,0,0,.7 )),
    url(../Images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.otp-box {
  display: flex;
}
.otp-box input {
  width: 50px;
  font-size: 32px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 20px 10px;
  border: 1px solid var(--glass-border-color);
  background: transparent !important;
  background-color: #ffffff30 !important;
  font-weight: bold;
  color: #FCE7C8;
  outline: none;
  transition: all 0.2s;
}
.input{
      background: transparent !important;
    background-color: #ffffff30 !important;
    border: none;
    border-color: transparent;
    border-radius: 5px;
    color: #243642;
    border-bottom: 2px solid #243642;
    transition: font-weight 0.3s;
}
.otp-box input:focus {
  border: 2px solid #ffffff70;
  box-shadow: 0 0 2px 2px #ffffff70;
}
.confirm-btn {
  border: 2px solid #DDA853;
  margin: 40px 80px 80px 80px !important;
  background: #DDA853;
  color: #243642;
  font-size: x-large;
  font-weight: bold;
  transition: all 0.3s;
}
.confirm-btn:hover {
  transform: translateY(-3px);
}
.box {
  color: #243642;
  padding: 15px;
  padding-top: 50px;
  border-radius:50px;
    background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 16px;
  border: 1px solid var(--glass-border-color);
}
.resend-btn{
  background: transparent !important; 
  border: 2px solid ;
  color: #243642;
  font-weight: bold;
  font-weight: normal;
  transform: translateY(0px);
  transition: all .4s;

}
.resend-btn:hover{
  color: #243642;
  transform: translateY(2px) scale(1.05);
}
