@font-face {
  font-family: BYekan;
  src: url(../Fonts/Yekan.ttf),url(../Fonts/Yekan.woff),url(../Fonts/Yekan.woff2),url(../Fonts/Yekan.svg),url(../Fonts/Yekan.eot),url(../Fonts/yekan.css);
}
* {
  font-family: Byekan;
}
body{
  background:linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.6)),url(../Images/verificationBackground.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.otp-box {
  display: flex;
}
.otp-box input {
  width: 50px;
  font-size: 32px;
  padding: 15px;
  text-align: center;
  border-radius: 5px;
  margin: 20px 10px;
  border: 3px solid #8f7856;
  background:linear-gradient(  rgba(28, 29, 35, 0.7),rgba(0,0,0,.1)), #889E73;
  font-weight: bold;
  color: #FCE7C8;
  outline: none;
  transition: all 0.2s;
}
.otp-box input:focus {
  border: 2px solid #FCE7C8;
  box-shadow: 0 0 2px 2px #FCE7C8;
}
.confirm-btn {
  border: 2px solid #243642;
  margin: 40px 80px 80px 80px !important;
  background: linear-gradient(45deg,rgba(0,0,0,.1),rgba(0,0,0,.9)) , #243642;
  color: #FCE7C8;
  font-size: x-large;
  font-weight: bold;
  transition: all 0.3s;
}
.confirm-btn:hover {
  color: #fad59e;
  box-shadow: 0 0 1px 1px #243642;
  transform: translateY(3px);
}
.box {
  border: 2px solid #869489;
  color: #243642;
  padding: 15px;
  padding-top: 50px;
  background-color: #243642;
  background: linear-gradient(190deg,rgba(0,0,0,.1),rgba(0,0,0,.3)) ,#889E73;
  border-radius:50px;
}
.resend-btn{
  background: transparent !important; 
  border: 2px solid ;
  color: #243642;
  font-weight: bold;
  font-weight: normal;
  transform: translateY(0px);
  transition: all .4s;

}
.resend-btn:hover{
  color: #243642;
  transform: translateY(2px) scale(1.05);
}