@model string
@{
    Layout = null;
}

<html>
<head>

</head>
<body>
    <h1>داشبورد</h1>
    <h1 id="userCredit">در حال بارگزاری موجودی حساب سامانه سلف</h1>
</body>
</html>

<script>
    fetch('/User/Dashboard/GetCredit')
        .then(response => response.text())
        .then(data => {
            document.getElementById('userCredit').innerText = data;
        });
</script>