@using Unima.Areas.User.Models.ViewModels
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model ProfileViewModel
@{
    Layout = "/Areas/User/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unima</title>
    <link rel="stylesheet" href="/css/Profile.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<body>
    <section class="Setting align-items-center">
        <div class="Section-Personal row">
            <div class="Section-title col-xl-12 pb-2 Section-title justify-content-center align-item-center">
                <p class="m-0 fs-5">
                    اطلاعات شخصی
                </p>
            </div>
            <div class="Section-Card p-5 m-1 bg-white rounded col-xl-11 col-md-12 d-flex justify-content-center flex-wrap m-auto">
                <div class="row xxx">
                    <div class="border-bottom border-secondary col-sm-9 col-md-11 col-lg-5 m-4">
                        <label asp-for="ProfileModel.FullName" class="fs-5 d-inline-block text-secondary mb-2"></label>
                    <div class="w-100 d-flex justify-content-between align-items-center" dir="rtl">
                        <div>
                            <span class="fs-6">@Model.ProfileModel.FullName</span>
                        </div>
                        <div class="Card-icon ms-1">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editname">
                                <i class="fa-solid fa-pen-to-square fs-6 text-black"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="border-bottom border-secondary col-sm-9 col-md-11 col-lg-5 m-4">
                        <label asp-for="ProfileModel.Email" class="fs-5 d-inline-block text-secondary mb-2"></label>
                    <div class="w-100 d-flex justify-content-between align-items-center" dir="rtl">
                        <div>
                            <span class="fs-6">@Model.ProfileModel.Email</span>
                        </div>
                        <div class="Card-icon ms-1">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editemail">
                                <i class="fa-solid fa-pen-to-square fs-6 text-black"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="border-bottom border-secondary col-sm-9 col-md-11 col-lg-5 m-4">
                        <label asp-for="ProfileModel.PhoneNumber" class="fs-5 d-inline-block text-secondary mb-2"></label>
                    <div class="w-100 d-flex justify-content-between align-items-center" dir="rtl">
                        <div>
                            <span class="fs-6">@Model.ProfileModel.PhoneNumber</span>
                        </div>
                        <div class="Card-icon ms-1">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editphone">
                                <i class="fa-solid fa-pen-to-square fs-6 text-black"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="border-bottom border-secondary col-sm-9 col-md-11 col-lg-5 m-4">
                        <label asp-for="ProfileModel.Username" class="fs-5 d-inline-block text-secondary mb-2"></label>
                    <div class="w-100 d-flex justify-content-between align-items-center" dir="rtl">
                        <div>
                            <span class="fs-6">@Model.ProfileModel.Username</span>
                        </div>
                        <div class="Card-icon ms-1">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editcode">
                                <i class="fa-solid fa-pen-to-square fs-6 text-black"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="border-bottom border-secondary col-sm-9 col-md-11 col-lg-5 m-4">
                    <label for="name" class=" fs-5 d-inline-block text-secondary mb-2">رمزعبور</label>
                    <div class="w-100 d-flex justify-content-between align-items-center" dir="rtl">
                        <div>
                            <span class="fs-6">*********</span>
                        </div>
                        <div class="Card-icon ms-1">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editpass">
                                <i class="fa-solid fa-pen-to-square fs-6 text-black"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="border-bottom border-secondary col-sm-9 col-md-11 col-lg-5 m-4">
                        <label asp-for="ProfileModel.SelfServicePassword" class="fs-5 d-inline-block text-secondary mb-2"></label>
                    <div class="w-100 d-flex justify-content-between align-items-center" dir="rtl">
                        <div>
                            <span class="fs-6">b1234567</span>
                        </div>
                        <div class="Card-icon ms-1">
                            <a href="#" data-bs-toggle="modal" data-bs-target="#editcode">
                                <i class="fa-solid fa-pen-to-square fs-6 text-black"></i>
                            </a>
                        </div>
                    </div>
                    </div>
                    <div class="col-sm-9 col-md-11 col-lg-5 m-4" dir="rtl">
                    <label asp-for="ProfileModel.Gender" class="form-label fs-5 d-inline-block text-secondary mb-2"></label>
                        <select id="gender" class="form-select rtl-left-arrow underline-style" aria-label="Default select example" onchange="getSelfLocationData()">
                    </select>
                    </div>
                    <div class="col-sm-9 col-md-11 col-lg-5 m-4">
                    <label asp-for="ProfileModel.DefaultSelfServiceLocation" class="form-label fs-5 d-inline-block text-secondary mb-2"></label>
                    <select id="selfLocations" class="form-select rtl-left-arrow underline-style" aria-label="Default select example">
                    </select>
                    </div>
                </div>
            </div>
        </div>

        @* MODALS *@
        <div class="modal fade" id="editname" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-light">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close-tab"></button>
                    </div>
                    <div class="modal-body d-flex flex-column m-2 fs-7">
                        <p>
                            لطفا اطلاعات شناسایی خود را وارد کنید. <br> نام‌ونام‌خانوادگی شما باید با اطلاعات سامانه
                            پویا
                            همخوانی داشته باشد.
                        </p>
                        <div class="d-flex flex-nowrap justify-content-between">
                            <div class="m-2 w-50">
                                <label for="Fullname" class="fs-6 mb-2">نام نام‌خانوادگی</label>
                                <input type="text"
                                       class="form-control bg-light w-100 border border-1 border-dark" id="Fullname" required>
                                <div class="form-text text-danger mt-1" id="nameError" style="display: none;"></div>
                            </div>  
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="submitBtnName">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editemail" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content bg-light" style="z-index: 30;">
                    <div class="modal-header">
                        <button type="button" class="btn-close " data-bs-dismiss="modal"
                                aria-label="close-tab"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="d-flex flex-nowrap justify-content-between">
                                <div class="w-100">
                                    <label for="email" class="form-label fs-6">ایمیل خود را وارد کنید.</label>
                                    <div class="mb-3 d-flex align-items-center w-75">
                                        <input type="email" class="form-control bg-light border border-1 border-dark"
                                            id="email" dir="ltr" placeholder="example@email.com">
                                    </div>
                                        <div class="form-text text-danger fs-7" id="emailError" style="display: none;"></div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="submitBtnEmail">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editphone" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content bg-light" style="width: 85% !important;">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="close-tab"></button>
                    </div>
                    <div class="modal-body">
                        <div class="step-indicator">
                            <div class="step active" id="step1-idicator">
                            1
                            <div class="step-text">شماره تلفن</div>
                            </div>
                            <div class="step1 active" id="step1-idicator">
                            2
                            <div class="step-text">کدتایید</div>
                            </div>
                            <div class="step1 active" id="step1-idicator">
                            3
                            <div class="step-text">اتمام</div>
                            </div>
                        </div>

                        <form id="step-1" style="display:none;">
                            <div class="mb-4">
                                <label for="phone" class="form-label">شماره همراه</label>
                                <div class="input-group">
                                    <input type="tel" class="form-control" id="phone" placeholder="09123456789" maxlength="11">
                                </div>
                            </div>
                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-primary submitCode" id="sendCodeBtn">ارسال کد تأیید</button>
                            </div>
                        </form>
                        <form id="step-2" style="display:none;">
                            <div class="verification-info">
                                <i class="fas fa-info-circle"></i>
                                <div>
                                    <span>کد تأیید به شماره </span>
                                    <strong id="phoneDisplay">09123456789</strong>
                                    <span> ارسال گردید</span>
                                    <div class="timer text-danger">زمان باقیمانده: <span id="countdown">02:00</span></div>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="verificationCode" class="form-label">کد تأیید</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="verificationCode" placeholder="کد ۶ رقمی" maxlength="6">
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <span class="resend-link" id="resendCode">ارسال مجدد کد</span>
                            </div>
                            
                            <div class="d-grid gap-2 mt-4">
                                <button class="btn btn-primary submitCode" id="verifyCodeBtn">تأیید کد</button>
                            </div>
                        </form>
                        <form id="step-3" style="">
                            <div class="success-message">
                                <i class="fas fa-check-circle"></i>
                                <h5 class="mb-3">شماره تلفن با موفقیت تغییر یافت</h5>
                                <div class="phone-display" id="finalPhoneDisplay">09123456789</div>
                                <p class="text-muted">شماره تلفن شما با موفقیت به روزرسانی شد</p>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">انصراف</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editcode" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content bg-light">
                    <div class="modal-header">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="close-tab"></button>
                    </div>
                    <div class="modal-body d-flex flex-column m-2 fs-7">
                        <p class="m-2">
                            لطفا اطلاعات خواسته شده را دقیق وارد کنید. <br>
                            سامانه یونیما هیچ مسئولیتی در قبال اطلاعات نادرست نمیپذیرد.
                        </p>
                        <div class="d-flex flex-nowrap justify-content-between">
                            <div class="m-2 w-50">
                                <label for="name" class="fs-6 mb-2">شماره‌دانشجویی</label>
                                <input type="text"
                                       class="form-control bg-light w-100 border border-1 border-dark" id="name"pattern="\d{10}" 
                                        title="شماره دانشجویی باید دقیقاً 10 رقم باشد">
                            </div>
                            <div class="m-2 w-50">
                                <label for="family" class="mb-2 fs-6">رمز سلف دانشجویی</label>
                                <input type="text"
                                       class="form-control bg-light w-100 border border-1 border-dark" id="family">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" id="submitBtncode">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="editpass" tabindex="-1" aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content bg-light" style="width: 85% !important;">
                    <div class="modal-header">
                        <button type="button" class="btn-close " data-bs-dismiss="modal"
                                aria-label="close-tab"></button>
                    </div>
                    <div class="modal-body">
                        <form class="m-2">
                            <label for="passcurrent" class="form-label fs-6">رمزعبور فعلی</label>
                            <div class="mb-3 d-flex align-items-center">
                                <div class="input-group mb-2 w-75">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control border border-1 border-dark"
                                               aria-label="" aria-describedby="basic-addon1" type="numric" id="passcurrent">
                                    </div>
                                </div>
                            </div>
                            <label for="passcurrent" class="form-label fs-6">رمزعبور جدید</label>
                            <div class="mb-3 d-flex align-items-center">
                                <div class="input-group mb-2 w-75">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control border border-1 border-dark"
                                               aria-label="" aria-describedby="basic-addon1" type="numric" id="passcurrent">
                                    </div>
                                </div>
                            </div>
                            <label for="passcurrent" class="form-label fs-6">تکرار رمزعبور</label>
                            <div class="mb-3 d-flex align-items-center">
                                <div class="input-group mb-2 w-75">
                                    <div class="input-group">
                                        <input type="text"
                                               class="form-control border border-1 border-dark"
                                               aria-label="" aria-describedby="basic-addon1" type="numric" id="passcurrent">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger">ذخیره</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>

        function getGenderData(){
            const gender = document.getElementById('gender')?.value || '';

            fetch(`/User/Profile/GetGenderData`)
            .then(res => res.json())
            .then(data => {
                const select = document.getElementById('gender');

                select.innerHTML = '';
                data.gender.forEach(item => {
                    const option = document.createElement('option');
                    option.value = item.value;
                    option.text = item.text;
                    option.selected = item.selected;
                    select.appendChild(option);
                });
                getSelfLocationData();
            });
        }
        window.addEventListener('DOMContentLoaded', getGenderData);

    </script>
    <script src="/js/Profile.js"></script>
</body>
</html>
<script>

    function getSelfLocationData(){
            const genderId = document.getElementById('gender')?.value || '';

            fetch(`/User/Profile/GetSelfLocationsData?genderId=${genderId}`)
            .then(res => res.json())
            .then(data => {
                populateSelectsFromBackendData(data);
            })
            .catch(err => {
                console.error('Error loading data:', err);
            });
    }

    function populateSelectsFromBackendData(data) {
        Object.entries(data).forEach(([key, items]) => {
            const select = document.getElementById(key);
            if (!select || !Array.isArray(items)) return;

            select.innerHTML = '';
            items.forEach(item => {
                const option = document.createElement('option');
                option.value = item.value;
                option.text = item.text;
                option.selected = item.selected;
                select.appendChild(option);
            });
        });
    }
</script>
