<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Unima</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/layoutStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/all.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />

 
   
@RenderSection("Styles" , required:false)
</head>
<body>
 <nav class="navbar navbar-expand-md navbar-dark">
        <button class="navbar-toggler  mb-2 bg-secondary m-3 " data-bs-toggle="collapse" data-bs-target="#sidebar">
            <span class="navbar-toggler-icon fs-6 "></span>
        </button>
        <div class="navbar-collapse collapse" id="sidebar">
            <div class="container-fluid">
                <div class="row">

                    <!--sidebar-->
                    <div
                        class="col-xl-2 col-lg-3 col-md-4 sidebar mt-md-0 mt-5 mb-3 mb-md-0 px-3 pt-sm-5 fixed-top text-dark-emphasis ">
                        <ul class="nav-bar list-unstyled  mt-sm-5 mb-md-0 options">
                            <li class="nav-item current text-center">
                                <a href="" class="nav-link p-3 mb-2">
                                    <i class="fas fa-home ml-3 fa-lg"></i> داشبورد
                                </a>
                            </li>
                            <li class="nav-item linksidebar mx-1">
                                <a href=""
                                    class="nav-link d-flex justify-content-start  align-items-center gap-2 p-3 mb-2">
                                    <i class="fa-solid fa-utensils ml-3 fa-lg  "></i> رزرو غذا
                                </a>
                            </li>
                            <hr>
                            <li class="nav-item linksidebar mx-1">
                                <a href=""
                                    class="nav-link d-flex justify-content-start align-items-center gap-2  p-3 mb-2">
                                    <i class="fas fa-user  fa-lg  "></i> پروفایل
                                </a>
                            </li>
                            <li class="nav-item linksidebar mx-1 ">
                                <a href="" class="nav-link d-flex justify-content-start align-items-center gap-2  p-3 ">
                                    <i class="fa-solid fa-bowl-food fa-lg  "></i> پشتیبانی
                                </a>
                            </li>
                        </ul>
                        <ul class="nav-bar list-unstyled d-none flex-column mt-4 align-items-start options">
                            <li class="nav-item linksidebar">
                                <a href="" class="nav-link  p-3 mb-2">
                                    <i class="fas fa-user ml-3 fa-lg  "></i> پروفایل
                                </a>
                            </li>
                            <li class="nav-item linksidebar ">
                                <a href="" class="nav-link  p-3 mb-2">
                                    <i class="fa-solid fa-bowl-food ml-3 fa-lg  "></i> پشتیبانی
                                </a>
                            </li>
                        </ul>
                        <button type="button"
                            class="btn d-none d-lg-block btn-outline-danger position-absolute bottom-0 mt-5 quit rounded-5 w-75 mb-4 me-3 p-2"
                            data-bs-toggle="modal" data-bs-target="#leaveSite">
                            خروج <i class="fa-solid fa-arrow-right-from-bracket"></i>
                        </button>
                    </div>
                    <!--end of sidebar-->

                    <!--topnav-->
                    <div class="col-xl-10 col-lg-9 col-md-8 fixed-top me-auto p-3 top-nav ">
                        <div class=" d-flex justify-content-around align-items-center ">
                            <button class="navbar-toggler bg-secondary mb-2  mt-1 " data-bs-toggle="collapse"
                                data-bs-target="#sidebar">
                                <span class="navbar-toggler-icon fs-6"></span>
                            </button>
                            <div class=" d-inline-block text-white">
                                <h4 class="text-dark d-inline-block fw-bold me-3 "><span class="brand">یونیما</span>
                                </h4>
                            </div>
                            <div class="col me-auto">
                                <ul class="navbar-nav flex-row justify-content-end align-items-center">
                                    <li class="nav-item mx-3  ">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-comments fa-lg text-muted"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item mx-3">
                                        <a class="nav-link" href="#">
                                            <i class="fas fa-bell fa-lg text-muted"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item mx-3 text-muted mr-md-auto dropdown ">

                                        <button class="btn profile-icon" type="button" data-bs-toggle="dropdown"
                                            aria-expanded="false">
                                            <i class="fas fa-user fa-lg  text-muted  ms-2"></i>
                                        </button>
                                        <ul
                                            class="dropdown-menu position-absolute bg-secondary-subtle bg-gradient dropdown-menu-light custom-dropdown">
                                            <li class="text-center my-4 fw-bold ">مشخصات دانشجو</li>
                                            <hr>
                                            <li class="my-2 text-center ">
                                                 <span class="fs-6">حمید
                                                    قاسمی</span>
                                            </li>
                                            <li class="text-center ">
                                                <span>
                                                    ۴۰۰۱۲۲۶۰۸۶</span>
                                            </li>

                                            <hr class="dropdown-divider">
                                            <div class="text-center "><a
                                                    class=" topnavExitButton dropdown-item link-danger " href="#"><i
                                                        class="fa-solid fa-arrow-right-from-bracket mx-2"></i>خروج از
                                                    حساب
                                                    کاربری </a></div>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--end of topnav-->
                </div>
            </div>
        </div>
    </nav>
    <main role="main" class="pb-3">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-10 col-lg-9 col-md-8  mt-5 mx-auto mx-md-0 me-md-auto">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    <div class="modal fade" id="leaveSite" tabindex="-1" aria-labelledby="leaveSiteLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered ">
            <div class="modal-content">
                <div class="modal-header position-relative">
                    <h5 class="modal-title" id="leaveSiteLabel">آیا مطمئنید؟</h5>
                    <button type="button" class="btn-close position-absolute start-0 ms-3" data-bs-dismiss="modal"
                            aria-label="بستن"></button>
                </div>
                <div class="modal-body">
                    آیا می‌خواهید از سایت خارج شوید؟
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">خیر</button>
                    <button type="button" class="btn btn-danger"
                            onclick="window.location.href='logout.html'">
                        بلی
                    </button>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/js/Dashboard.js"></script>
    @RenderSection("Scripts" , required:false)

</body>
</html>