  <!-- plans -->
    <section class="mt-5">
       
                    <div class="row  justify-content-center gap-5 align-items-center ">
                        <div
                            class="col-xl-3 col-lg-3 col-md-4 col-10 p-4 mb-5 mt-5 rounded rounded-5 plan-1 text-dark-emphasis ">
                            <div class="d-flex justify-content-around align-items-center mb-5  ">
                                <!-- <span class=" popular-title rounded rounded-5 shadow px-4 py-2">رایگان</span> -->
                                <i
                                    class="fa-solid fa-gift mt-4  text-primary-emphasis shadow shadow-lg fa-xl me-auto "></i>
                            </div>
                            <h2 class="my-4 text-center ">هدیه</h2>
                            <h5 class="my-4">بهترین پلن موجود</h5>
                            <div class="d-flex align-items-center justify-content-center my-4">
                                <span class="h3 text-danger mt-3">رایگان</span>
                                <span class="fw-light mb-2 me-1  d-none   rounded rounded-3  ms-4">تومان</span>
                                <span class="me-5 fw-bolder fs-4 d-none "> سه ماهه</span>
                            </div>
                            <div class="">
                                <button
                                    class="planActiovationButton py-2  mt-3 mb-4 w-100 fs-5 shadow-lg rounded rounded-4 bought-button ">فعالسازی
                                </button>
                            </div>
                            <span class="h6 d-block my-3">شامل چه چیز هایی میشود ؟</span>
                            <span class="d-block my-4"><i class="fa-brands fa-lg ms-3 fa-bots"></i>اطلاع رسانی وضعیت از
                                طریق ربات تلگرام</span>
                            <span class="d-block my-4"><i class="fa-solid fa-envelope fa-lg ms-3 "></i> اطلاع رسانی از
                                طریق ایمیل </span>
                            <span class="d-block my-4"><i class="fa-solid fa-lg ms-3 fa-comment"></i>اطلاع رسانی از طریق
                                پیامک</span>
                        </div>
                        <div
                            class="col-xl-3  col-lg-3 col-md-4 col-10 p-4 mb-5 rounded rounded-5 plan-2 text-dark-emphasis ">
                            <div class="d-flex justify-content-around align-items-center mb-5  ">
                                <span class=" popular-title rounded rounded-5 shadow px-4 py-2">پرطرفدار</span>
                                <i class="  fa-solid fa-fire shadow-lg  fa-xl me-auto "></i>
                            </div>
                            <h2 class="my-4 text-center">پرمیوم</h2>
                            <h5 class="my-4">بهترین پلن موجود</h5>
                            <div class="d-flex align-items-center justify-content-center my-4">
                                <span class="h3">۱۰۰۰۰۰</span>
                                <span class="fw-light mb-2 me-1   rounded rounded-3  ms-4">تومان</span>
                                <span class="me-5 fw-bolder fs-4 "> سه ماهه</span>
                            </div>
                            <div class="">
                                <button
                                    class="planActiovationButton py-2  mt-3 mb-4 w-100 fs-4 shadow-lg rounded rounded-4 bought-button ">خرید
                                </button>
                            </div>
                            <span class="h6 d-block my-3">شامل چه چیز هایی میشود ؟</span>
                            <span class="d-block my-4"><i class="fa-brands fa-lg ms-3 fa-bots"></i>اطلاع رسانی وضعیت از
                                طریق ربات تلگرام</span>
                            <span class="d-block spoiler my-4"><i class="fa-solid fa-envelope fa-lg ms-3 "></i> اطلاع
                                رسانی از طریق ایمیل </span>
                            <span class="d-block my-4"><i class="fa-solid fa-lg ms-3 fa-comment"></i>اطلاع رسانی از طریق
                                پیامک</span>
                        </div>
                        <div
                            class="col-xl-3 col-lg-3 col-md-4 col-10 mx-auto mx-md-0 p-4 mb-5 mt-5 rounded rounded-5 plan-3 text-dark-emphasis ">
                            <div class="d-flex justify-content-around align-items-center mb-5  ">
                                <!-- <span class=" popular-title rounded rounded-5 shadow px-4 py-2">پرطرفدار</span> -->
                                <i class="  fa-solid fa-medal  mt-4 shadow-lg  fa-xl me-auto "></i>
                            </div>
                            <h2 class="my-4 text-center">پرمیوم</h2>
                            <h5 class="my-4">بهترین پلن موجود</h5>
                            <div class="d-flex align-items-center justify-content-center my-4 ">
                                <span class="h3 mt-3">۱۰۰۰۰۰</span>
                                <span class="fw-light mb-2 me-1   rounded rounded-3  ms-4">تومان</span>
                                <span class="me-5 fw-bolder fs-4 "> سه ماهه</span>
                            </div>
                            <div class="">
                                <button
                                    class="planActiovationButton py-2  mt-3 mb-4 w-100 fs-4 shadow-lg rounded rounded-4 bought-button ">خرید
                                </button>
                            </div>
                            <span class="h6 d-block my-3">شامل چه چیز هایی میشود ؟</span>
                            <span class="d-block my-4"><i class="fa-brands fa-lg ms-3 fa-bots"></i>اطلاع رسانی وضعیت از
                                طریق ربات تلگرام</span>
                            <span class="d-block my-4"><i class="fa-solid fa-envelope fa-lg ms-3 "></i> اطلاع رسانی از
                                طریق ایمیل </span>
                            <span class="d-block my-4"><i class="fa-solid fa-lg ms-3 fa-comment"></i>اطلاع رسانی از طریق
                                پیامک</span>
                        </div>
                    </div>
           
    </section>
    <!-- plans  -->